trigger:
- master
- develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  support_netstandard20: true
  support_netstandard21: false
  support_netcoreapp21: false
  support_netcoreapp31: true
  support_net5_0: true
  Major: 0
  Minor: 9

resources:
  repositories:
    - repository: templates
      type: github
      name: Sannel/Sannel.House.BuildScripts
      endpoint: Sannel

jobs:
- template: tasks/library.yml@templates  # Template reference